.notFound{
  margin: 0;
  padding: 0;
  font-size: 4.375rem;
  font-weight: 600;
  text-align: center;
  color: rgb(121, 121, 121);
  display: flex;
  align-items: center;
  flex-direction: column;
  pointer-events: none;

}

.img{
  opacity: 0.3;
}

.sub{
  font-size: 1.5625rem;
}

*{
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 760px){
  .img{
    display: none;
  }

  .centered{
    margin: 0px;
    word-spacing: 0px;
  }
}
